[core]
	autocrlf = false
	editor = vim
	excludesfile = ~/.gitignore_global
[commit]
	verbose = true
[merge]
	ff = false
[pull]
	ff = only
[alias]
	a = add -v
	aa = add -vA
	ai = add -i
	aliases = config --get-regexp alias.*
	b = branch
	c = commit
	cm = commit -m
	co = checkout
	f = fetch
	fu = fetch upstream
	graph = log --graph --date=short --decorate=full
	ps = push
	psu = !git push -u origin `git name-rev --name-only HEAD`
	pl = pull
	s = status
[user]
	name = Ryooooooga
	email = ryoga_314@yahoo.co.jp
