### Local settings ###
*.local

### Zsh cache ###
*.zwc
.zcomp*

### Clangd settings ###
!/config/clangd/compile_flags.txt

### GitHub CLI ###
/config/gh/*.yml
!/config/gh/config.yml

### Espanso ###
/config/espanso/user/local.yml
