BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 160
CommentPragmas: ^
IncludeCategories:
  - Regex:      '^"'
    Priority:   3
  - Regex:      '^<.*/'
    Priority:   2
  - Regex:      '^<'
    Priority:   1
PenaltyReturnTypeOnItsOwnLine: 10000
PointerAlignment: Right
IndentPPDirectives: AfterHash
SeparateDefinitionBlocks: Always
