BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterReturnType: Automatic
ColumnLimit: 160
PenaltyReturnTypeOnItsOwnLine: 10000
IndentPPDirectives: AfterHash
SeparateDefinitionBlocks: Always
