BasedOnStyle: Chromium
IndentWidth: 4
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
CommentPragmas: ^
IncludeCategories:
  - Regex:      '^<'
    Priority:   1
  - Regex:      '^"'
    Priority:   2
