/*
!/.gitignore
!/Packages

/Packages/*
!/Packages/C++
!/Packages/Go
!/Packages/User*

/Packages/User/*
!/Packages/User/C++
!/Packages/User/CMake
!/Packages/User/Markdown
!/Packages/User/*.sublime-keymap
!/Packages/User/*.sublime-menu
!/Packages/User/*.sublime-settings
