shell = "zsh"

apply = ["defer"]

[templates]
defer = """
__sheldon::{{ name }}() {
{{ hooks?.pre | nl }}{% for file in files %}source "{{ file }}"\n{% endfor %}{{ hooks?.post | nl }}
}
zsh-defer -a -t0.01 __sheldon::{{ name }}
"""
defer0 = """
__sheldon::{{ name }}() {
{{ hooks?.pre | nl }}{% for file in files %}source "{{ file }}"\n{% endfor %}{{ hooks?.post | nl }}
}
zsh-defer -a __sheldon::{{ name }}
"""

[plugins]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"
apply = ["source"]
profiles = ["plugins"]

[plugins.croque]
local = "~/.local/share/gh-rd/packages/github.com/Ryooooooga/croque"
apply = ["source"]
profiles = ["plugins"]

[plugins.lazy]
local = "~/.config/zsh"
use = ["lazy.zsh"]
profiles = ["plugins"]

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
dir = "src"
apply = ["fpath"]
profiles = ["plugins"]

[plugins.zsh-history-substring-search]
github = "zsh-users/zsh-history-substring-search"
hooks.post = """
bindkey "${terminfo[kcuu1]}" history-substring-search-up   # arrow-up
bindkey "${terminfo[kcud1]}" history-substring-search-down # arrow-down
bindkey "^[[A" history-substring-search-up   # arrow-up
bindkey "^[[B" history-substring-search-down # arrow-down
"""
profiles = ["plugins"]
[plugins.mise]
inline = """
zsh-defer -a -t0.01 eval "$(mise activate zsh)"
"""
profiles = ["plugins"]

[plugins.mise-update]
inline = """
mise plugins upgrade
"""
profiles = ["update"]

[plugins.zsh-replace-multiple-dots]
github = "Ryooooooga/zsh-replace-multiple-dots"
profiles = ["plugins"]

[plugins.tmux-fzf]
github = "Ryooooooga/tmux-fzf"
hooks.post = """
alias t='tmux-fzf'
"""
apply = ["defer", "fpath"]
profiles = ["plugins"]

[plugins.direnv]
local = "~/.local/share/gh-rd/packages/github.com/direnv/direnv"
profiles = ["plugins"]

[plugins.zabrze]
local = "~/.local/share/gh-rd/packages/github.com/Ryooooooga/zabrze"
apply = ["defer0"]
profiles = ["plugins"]

[plugins.qwy]
local = "~/.local/share/gh-rd/packages/github.com/Ryooooooga/qwy"
hooks.pre = """
export QWY_TRIGGER_KEY="^P"
export QWY_DEFAULT_ACTION="expand-or-complete"
export QWY_CONFIG_HOME="$XDG_CONFIG_HOME/qwy"
export QWY_SCRIPT_PATH="$QWY_CONFIG_HOME/scripts"
"""
profiles = ["plugins"]

[plugins.zsh-autopair]
github = "hlissner/zsh-autopair" # read after zabrze
profiles = ["plugins"]

[plugins.forgit]
github = "wfxr/forgit"
dir = "bin"
apply = ["path"]
profiles = ["plugins"]

[plugins.commitizen-deno]
github = "Ryooooooga/commitizen-deno"
apply = ["path"]
profiles = ["plugins"]

[plugins.compinit]
inline = """
autoload -Uz compinit
zsh-defer -a -t0.01 compinit -d "$XDG_STATE_HOME/zcompdump"
"""
profiles = ["plugins"]

[plugins.fzf-tab]
github = "Aloxaf/fzf-tab"
hooks.pre = """
zstyle ':fzf-tab:complete:*' fzf-flags '--height=50%'
zstyle ':fzf-tab:complete:*' fzf-bindings 'tab:toggle+down,shift-tab:toggle+up' # multi select
"""
profiles = ["plugins"]

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
hooks.post = """
ZSH_AUTOSUGGEST_STRATEGY=(history completion)
"""
profiles = ["plugins"]

[plugins.fast-syntax-highlighting]
github = "zdharma-continuum/fast-syntax-highlighting"
profiles = ["plugins"]
