[commit]
    gpgSign = true

[tag]
    forceSignAnnotated = true

[users "ryoga"]
    signingKey = ""

[url "git@example.ghe.com:"]
    insteadOf = https://example.ghe.com/
    insteadOf = example:

[ghq "https://example.ghe.com"]
    vcs = github
